<html>
    <head>
        <title>Django</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Python</a></h1>
        </div>

        <div>
            <p>published: 23.10.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>My very first post.</p>
        </div>

        <div>
            <p>published: 23.10.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>my very second post</p>
        </div>
    </body>
</html>
